.section {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  
}

.container {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  min-height: 40vh;
}

.content {
  display: flex;
  margin: auto;
  z-index: 11;
  background-color: transparent;
}
