.introWrap {
  display: grid;
  padding-top: 0rem;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.introHeader {
  display: flex;
  flex-direction: column;
  margin-left: 0vw;
  max-width: 44rem;
  width: 90vw;
}

.introContainer {

  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  min-height: 29vh;
  width: 100%;
  margin-top: 2.2rem;
  margin-bottom: 3vh;
  padding-left: 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0 40px;
}

.introName {
  display: block;
  position: relative;
  font-size: 36px;
  font-weight: 800;
  color: #000000c0;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: calc(80vw - 12rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0rem;
  margin-bottom: 3rem;
}

.introAvatar {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 0.75rem;
  position: absolute;
  left: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  top: -6rem;
  z-index: 4;
  box-shadow: #00000030 0 0 10px;
}

.introContent {
  display: flex;
  padding: 2.5rem 3rem;
  color: #101010e0;
  font-family: 'Times New Roman', Times, serif;
}

.introHeading{
  font-size: xx-large;
  
}

.friendsHeader{
  font-size: xx-large;
  font-weight: 800;
  margin-left: 0rem;
  margin-top: 0.5rem;
}

.friendsLink{
  color: #101010e0;
  text-decoration: none;
}

.friendsLink:hover{
  color: #101010e0;
  text-decoration: underline;
}

.friendsContainer{
  font-style: italic;
  display: block;
  text-align: center;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
  margin-bottom: 3vh;
  margin-top: 1em;
  
}

.friendsWrap{
  display: inline-block;
  margin: 0rem 1.5rem 2rem 1.8rem;
  width: 8rem;
  padding: 1rem 1rem 1rem 4rem;
}

.friendsContent{
  
}

.friendsAvatar{
  display: inline-block;
  height: 0;
  max-width: 24rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -0.8rem;
  top: -0.15rem;
  z-index: 4;
  box-shadow: #00000030 0 0 10px;
}